@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --success: 142.1 76.2% 36.3%;
    --success-foreground: 355.7 100% 97.3%;
    
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --danger: 346.8 77.2% 49.8%;
    --danger-foreground: 355.7 100% 97.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-blue-900/20 via-background to-background;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
